<form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row" *ngIf="isSignUp == true">
      <mat-form-field  class="col-md-6 mb-4 ">
          <mat-label>First Name</mat-label> 
          <input matInput placeholder ="Introduce your name">
      </mat-form-field>

      <mat-form-field class="col-md-6 mb-4">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder ="Please, tell your last name">
      </mat-form-field>
    </div>

    <!-- Email input -->
    <mat-form-field class="col-md-12 mb-4">
      <mat-label>Email</mat-label>
      <input matInput placeholder ="pat@example.com">
   </mat-form-field>

    <!-- Password input -->
    <mat-form-field class="col-md-12 mb-4" color="primary">
      <mat-label>Password</mat-label>
      <input matInput placeholder ="your password">
   </mat-form-field>

    <!-- Submit button -->
    <button mat-raised-button class="col-md-12" color="primary">
      {{isSignUp ? 'Sign Up' :'Sign In '}}
    </button>
  </form>
